<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="inscription.css" title="" type="text/css" media="screen" charset="utf-8">

</head>
<style>
	include inscription.css
</style>

<body>

	<div class="container">

		<form class="formulaire" action="/auth/check" method="POST">

			<input hidden novalidate type="text" placeholder="Email" required="" value="#{user.facebook.token}" name="token" />

			<input type="text" placeholder="Nom" required="" style="top:115px;left:130px;" class="inputfrm" value="#{user.lastName}" name="lastName" />

			<input type="text" placeholder="Prenom" required="" style="top:110px;left:180px;" class="inputfrm" value="#{user.firstName}" name="firstName" />

			<input type="email" placeholder="Email" required="" style="top:145px;left:130px;width:300px;font-size: large;" class="inputfrm" value="#{user.email}" name="email" />

			<input type="text" placeholder="CIN" required="" style="top:185px;left:150px;width:300px;font-size: large;" class="inputfrm" name="cin" />

			<input type="number" placeholder="Téléphone" required="" style="top:218px;left:150px;width:250px;font-size: large;" class="inputfrm" name="phone" />

			<select name="picture" class="selectfrm">

				<option  value="./img/avatar/smile_svg.svgz">
				Avatar 1
				</option>

			</select>
			<input type="submit" value="Inscription" class="btnform">
		</form>
	</div>
</body>

</html>
