<!DOCTYPE html>
<html>

<head>

</head>
<!-- <link rel="stylesheet" href="./inscription.css" type="text/css" /> -->
<style>
	body {
		background: #4389bc url("http://i.imgur.com/M5VeRDH.png");
		background-size: cover;
		overflow: scroll;
		background-position: center top;
		background-repeat: no-repeat;
	}

	.container {
		padding-top: 200px;
		display: flex;
		justify-content: center;
	}

	.formulaire {
		position: absolute;
		width: 600px;
		height: 600px;
		justify-content: center;
		background-repeat: none;
		background-image: url("http://i.imgur.com/3m8RjR4.png");
	}

	.inputfrm {
		position: relative;
		background: transparent;
		border-color: transparent;
		height: 20px;
		width: 130px;
		outline: none;
		font-family: "comic sans ms";
		font-size: medium;
		padding-left: 20px;
		border-radius: 5px;
	}

	.selectfrm {
		margin: 10px;
		color: white;
		border: 1px solid #ffffff;
		border-radius: 5px;
		position: absolute;
		display: block;
		min-width: 250px;
		height: 40px;
		font-size: large;
		padding-left: 20px;
		max-width: 350px;
		background: #e8e8e8;
		box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.46);
		top: 405px;
		left: 174px;
	}

	.btnform {
		border-radius: 10px;
		outline: none;
		margin-top: 405px;
		margin-left: 238px;
		padding-bottom: 10px;
		color: #e4e4e4;
		/*display: block;*/
		background: transparent;
		font-size: large;
		border: 0px;
		padding: 5px 25px 15px 25px;
		cursor: pointer;
		font-family: "comic sans ms";
		transition: color 0.1s;
	}

	.btnform:hover {
		color: #000000;
	}
</style>

<body>
	<div class="container">
		<form class="formulaire" action="/auth/check" method="POST">
			<input hidden novalidate type="text" placeholder="" required="" value="{{user.facebook.token}}" name="token" />
			<input type="text" placeholder="Nom" required="" style="top:115px;left:130px;" class="inputfrm" value="{{user.lastName}}" name="lastName" />
			<input type="text" placeholder="Prenom" required="" style="top:110px;left:180px;" class="inputfrm" value="{{user.firstName}}" name="firstName" />
			<input type="email" placeholder="Email" required="" style="top:145px;left:130px;width:300px;font-size: large;" class="inputfrm" value="{{user.email}}" name="email" />
			<input type="text" placeholder="CIN" required="" style="top:185px;left:150px;width:300px;font-size: large;" class="inputfrm" name="cin" />
			<input type="number" placeholder="Téléphone" required="" style="top:218px;left:150px;width:250px;font-size: large;" class="inputfrm" name="phone" />
			<input type="submit" value="Inscription" class="btnform">
			<div style="position:relative;top:-140px;left:72px;">
				<input type="radio" name="picture" value="../img/svg/blue.svg"><img src="../img/svg/blue.png" width="32" height="32" />
				<input type="radio" name="picture" value="../img/svg/cyan.svg"><img src="../img/svg/cyan.png" width="32" height="32" />
				<input type="radio" name="picture" value="../img/svg/green.svg"><img src="../img/svg/green.png" width="32" height="32" />
				<input type="radio" name="picture" value="../img/svg/orange.svg"><img src="../img/svg/orange.png" width="32" height="32" />
				<input type="radio" name="picture" value="../img/svg/pink.svg"><img src="../img/svg/pink.png" width="32" height="32" />
				<input type="radio" name="picture" value="../img/svg/purple.svg"><img src="../img/svg/purple.png" width="32" height="32" />
				<input type="radio" name="picture" value="../img/svg/red.svg"><img src="../img/svg/red.png" width="32" height="32" />
				<input type="radio" name="picture" value="../img/svg/yellow.svg"><img src="../img/svg/yellow.png" width="32" height="32" />
			</div>
		</form>
	</div>
</body>

</html>
